.section-page1{
	background: #FFFFFF;	
	border-radius: 20px;
	width: 500px;
	height: 600px;
	justify-content: center;
	display: block;
}

/*Image*/
.displayed{
	display: block;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	min-width: 213px;
	height: 16vh;
	margin-top: 6%;
}

.class-form{
	display: block;
	flex-direction: column;
	font-family: 'Nunito';
    font-style: normal;
    align-items:  center;
    font-weight: 400;
	color: #767676;
	background: #FFFFFF;
	margin: 0 7% 0 7%;
}

/*title*/
.h1-page1{
	font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-size: 2em;
    line-height: 1.2vh;
    color: #111111;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
    margin-top: 1.6vh;
}

/*search bar*/
.input-pattern{
	background: #FFFFFF;
	border: 2px solid #AAAAAA;
    border-radius: 4px;
	height: 5vh;
	left: 238px;
    top: 533px;
	padding-left: 2.5%;	

}

.input-date {
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    height: 5vh;
    left: 238px;
    top: 533px;
    padding-left: 2.5%;
}

.group-name, .group-email, .group-password, .group-phone, .group-submit, .group-birthday, .group-checkbox, .group-sucess{

	display:flex;
	flex-direction: column; 
}

.group-email, .group-password{
	width: 100%;
}

.group-birthday, .group-phone{
	width: 85%;
}

.group-checkbox input{
	display:none;
}
.group-checkbox input + label:before {
	content: '';
	width: 13px;
	height: 13px;
	border-radius: 4px;
	background-color: white;
	border: 1px solid gray;
	display: inline-block;
	vertical-align: middle;
	padding: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
}

.group-checkbox input:checked + label:before {
	background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
	width: 13px;
	height: 13px;
	border-radius: 4px;
	background-color: #0DBDBD;;
	background-position: center;
	border: 1px solid #0DBDBD;
	display: inline-block;
	vertical-align: middle;
	padding: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
}

#term-accept{
	font-family: 'Nunito';
	font-style: bold;
	font-weight: 400;
	font-size: 2.2vh;
	color: #111111;
	
}

#label-name{
	margin-top: 3vh;
}

.line2{
	display:grid;
    grid-template-columns: 3fr 1fr;
	margin-top: 5vh;
	row-gap: 4vh;
	justify-items: end;
}


.line4{
	display: flex;
	justify-content: space-between;
	margin-top: 13vh;
}

#input-button{
	background: #0DBDBD;
	border:none;
	color: #FFFFFF;
	font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
	min-width: 60px;
	min-height: 35px;
}

/**//**//**//**//**//**//**//**/
@media (max-width: 768px){
    .section-page1{
	width: 100vw;
	height: 100vh;
	}

    .line2{
    display: grid;
	grid-template-areas: 
	"group-email group-email"
	"group-password group-password"
    "group-phone group-birthday";
	margin-top: 1vh;
	row-gap: 4vh;
    grid-template-columns: 1fr 1fr; 
	}

	.group-email{
	grid-area: group-email;
	margin-top: 3vh;
	}

	.group-password{
		grid-area: group-password;

	}
    
	.input-date {
		background: #FFFFFF;
		border: 2px solid #AAAAAA;
		border-radius: 4px;
		height: 5.19vh;
		left: 238px;
		top: 533px;
		padding-left: 2.5%;
	}

	.group-birthday{
		grid-area: group-birthday;
		width: 95%;
	}

	.line4{
	display: block;
	margin-top: 5vh;  	
	}
     
    .group-phone{
	grid-area: group-phone;
	width: 95%;
	justify-self: start;
	}
    
	#input-button{
	margin-top: 5vh;
	height: 7vh;
	font-size: 1em;
	}
        /*page2*/
	.section-page2{
    width: 100vw;
	height: 100vh;
	}	

	.displayed2{
		display: block;
		margin-left: auto;
		margin-right: auto;
		min-width: 217px;
		height: 16vh;
		margin-top: 30%;
	}
	
	.h1-page2{
	margin-top: 30%;
	height: 10%;
	font-size: 2.4em;
	}
	
	.group-sucess{
	width:100vw;
	height: 30%;
    display:flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5%;
	}
    
	#input-button2{
	min-width: 10%;
	min-height: 10%;
	width: 85%;	
	height: 40%;
	margin-bottom: 15%;
	}
}

